#start-button{
    margin: 0 auto;
}
#next-button{
    margin: 0 auto;
}
button{
    z-index: 100;
    color: white;
    cursor: pointer;
    background-color: rgb(63, 204, 98);
    margin: 20px;
    user-select: auto;
    border-radius: 7%;
    border:0px;
    height: 60px;
    width: 120px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    font-size: x-large;
}
button:active{
    -webkit-box-shadow: 0px 5px 6px -7px #000000, 2px 2px 7px 2px rgba(37, 36, 36, 0); 
    box-shadow: 0px 15px 6px -7px #000000, 2px 2px 7px 2px rgba(29, 28, 28, 0);
}
.buttons-div {
    position:fixed;
    width:30%;
    bottom:14%;
    left:35%;
}
@media screen and (max-width: 600px){
    .buttons-div {
        position: fixed;
        bottom:10%;
    }
    
}
